body {
    background-color: #F6F0ED;
}

p {
    font-family: 'Lora', serif;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C09187;
}

li {
    display: inline-block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.contain {
    object-fit: contain;
}
